@import 'tailwindcss';

:root {
  --white: #ffffff;
  --backgroud: #f1f1f1;
  --foreground: #171717;
  --primary: #ff6212;
  --secondary: #ffb84d;
  --ventura-blue: #6dc6e9;
  --ventura-green: #a0d78e;
}

@theme {
  --color-white: #f8f8f8;
  --color-foreground: #171717;
  --color-primary: #ff6212;
  --color-secondary: #ffb84d;
  --color-ventura-blue: #6dc6e9;
  --color-ventura-green: #a0d78e;
}

body {
  background: var(--backgroud);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
